.box1{
    background-color: yellow;
    width: 20%;
    margin: 3% 2.5%;
    height: 700px;
}

.box2{
    background-color: red;
    width: 20%;
    margin: 3% 2.5%;
    height: 700px;
}

.box3{
    background-color: green;
    width: 20%;
    margin: 3% 2.5%;
    height: 700px;
}

.box4{
    background-color: blue;
    width: 20%;
    margin: 3% 2.5%;
    height: 700px;
}

body{
    display: flex;
    justify-content: center;
}